<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Game - Acceptable?</title>
<base target="_blank">
<link rel="icon" href="https://research.cc.gatech.edu/act-lab/sites/edu.act-lab/files/ACT-logo-scaled_1.png" type="image/png">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<script type="text/javascript">
function image(img) {
    var src = img.src;
    //window.open(src);
}
</script>
<html>
<body>
	<div id="wrap">
		<div id="sidebar">
			<center>
			<h2 style="font-size:40px;">Record</h2>
			</center>
			<table border="1" width="100%">
				<tr><td height="80">
					<h2 style="font-family:courier">&nbsp;&nbsp;&nbsp;Play1: {% if score|length >= 1 %} {{ score[0] }} {% endif %}</h2>
				</td><tr>
				<tr><td height="80">
					<h2 style="font-family:courier">&nbsp;&nbsp;&nbsp;Play2: {% if score|length >= 1 %} {{ score[1] }} {% endif %}</h2>
				</td><tr>	
				<tr><td height="80">
					<h2 style="font-family:courier">&nbsp;&nbsp;&nbsp;Play3: {% if score|length >= 1 %} {{ score[2] }} {% endif %}</h2>
				</td><tr>
				<tr><td height="80">
					<h2 style="font-family:courier">&nbsp;&nbsp;&nbsp;Play4: {% if score|length >= 1 %} {{ score[3] }} {% endif %}</h2>
				</td><tr>
				<tr><td height="80">
					<h2 style="font-family:courier">&nbsp;&nbsp;&nbsp;Play5: {% if score|length >= 1 %} {{ score[4] }} {% endif %}</h2>
				</td><tr>
				<tr><td height="80">
					<h2 style="font-family:courier">&nbsp;&nbsp;&nbsp;Play6: {% if score|length >= 1 %} {{ score[5] }} {% endif %}</h2>
				</td><tr>
				<tr><td height="80">
					<h2 style="font-family:courier">&nbsp;&nbsp;&nbsp;Play7: {% if score|length >= 1 %} {{ score[6] }} {% endif %}</h2>
				</td><tr>
				<tr><td height="80">
					<h2 style="font-family:courier">&nbsp;&nbsp;&nbsp;Play8: {% if score|length >= 1 %} {{ score[7] }} {% endif %}</h2>
				</td><tr>
				<tr><td height="80">
					<h2 style="font-family:courier">&nbsp;&nbsp;&nbsp;Play9: {% if score|length >= 1 %} {{ score[8] }} {% endif %}</h2>
				</td><tr>
				<tr><td height="80">
					<h2 style="font-family:courier">&nbsp;&nbsp;&nbsp;Play10: {% if score|length >= 1 %} {{ score[9] }} {% endif %}</h2>
				</td><tr>
			</table>
		</div>
		<div class="im">
			<center>
				<h1>Is This Quality Acceptable?</h1>
				<h2 style="font-size:40px;">Stage {{ stage }}</h2>
				<img src="{{ url_for('static',filename='img/baboon.png') }}" style='width: 25%; max-height: 100%;' hspace="20">
				<img src="{{ url_for('static',filename='img/baboon-sobel.png') }}" style='width: 25%; max-height: 100%; margin=auto' hspace="20">
				<img src="{{ url_for('static',filename='img/baboon_0.415.png') }}" style='width: 25%; max-height: 100%; margin=auto' hspace="20">
				<br><br>
				<form method="post" target="_self">
					<input type="image" name="5d" src="{{ url_for('static',filename='img/chips/5.png') }}" height="80" size="80"></input>
					<input type="image" name="25d" src="{{ url_for('static',filename='img/chips/25.png') }}" height="80" size="80"></input>
					<input type="image" name="100d" src="{{ url_for('static',filename='img/chips/100.png') }}" height="80" size="80"></input>
					<input type="image" name="500d" src="{{ url_for('static',filename='img/chips/500.png') }}" height="80" size="80"></input>
					<input type="image" name="1000d" src="{{ url_for('static',filename='img/chips/1000.png') }}" height="80" size="80"></input>
					<input type="image" name="5000d" src="{{ url_for('static',filename='img/chips/5000.png') }}" height="80" size="80"></input>
				</form>
				<h2>Bet: {{ bet }}</h2>
				<form method="post" target="_self">
					{% if decision != 'accept' and decision != 'reject' and decision != 'pending' %}
					  	<input type="submit" name="accept" value="Accept" style="background-color:lightgreen;font-size:22px;padding:10px"></input>&nbsp;&nbsp;&nbsp;&nbsp;
					  	<input type="submit" name="reject" value="Reject" style="background-color:Crimson;font-size:22px;padding:10px"></input>
					  	{% if bet != 0 %}
							&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="clear" value="Clear Bet" style="background-color:Gray;font-size:22px;padding:10px"></input>
						{% endif %}	
					{% else %}
						{% if stage != 10 %}
							<input type="submit" name="continue" value="Next Stage" style="background-color:lightblue;font-size:22px;padding:10px"></input>
						{% else %}
							<input type="submit" name="final" value="Final Score" style="background-color:red;font-size:22px;padding:10px"></input>
						{% endif %}	
					{% endif %}	
				</form>
				<h2>Bankroll: {{ bankroll }}</h2>
				<h2>Win: {{ win }}</h2>
				<h2>DebugMsg: {{ msg }}</h2>
				<h2>Username: {{ username }}</h2>
				{% if decision %}
					{% if decision == 'pending' %}
						<h1 style="font-size:40px;">Push Next Stage Button!</h1>
					{% elif decision == 'nobet' %}
						<h1 style="font-size:40px;">No betting money!</h1>
					{% elif decision == 'final' %}
						<h1 style="background-color:lightgreen;font-size:40px;padding:10px">Final {{ winlose }}: {{ final }}</h1>
					{% else %}
						<h1 style="font-size:40px;">{{ winlose }}: {{ score[score|length - 1] }}</h1>
					{% endif %}	
				{% else %}
					<h1 style="font-size:40px;">   </h1>
				{% endif %}	
			</center>

		</div>
	</div>
</body>
</html>