<!DOCTYPE HTML>
<html>
<head>
    <title>{{ GAME_NAME }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                {{ GAME_NAME }}
            </div>
        </div>
    </div>
    </div>
</nav>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Login & Register</b></div>
            <div class="panel-body">
                <h4>{{ GAME_NAME }}</h4>
                <h5> - Games for research in approximate computing</h5>
                <!--
                    class State(Enum):
                        default = 0
                        login = 1
                        login_success = 2
                        register = 3
                        create = 4
                        mismatch = 5
                        create_success = 6
                        gohome = 7
                        incorrect_password = 8
                        duplicate_id = 9
                -->
                {% if state == 0 %}
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">&nbsp;&nbsp;&nbsp;
                    <button type="submit" name="login">Login</button>
                    <br><br>
                    <h5 style="display: inline">New user</h5>&nbsp;&nbsp;&nbsp;
                    <button type="submit" name="register">Register</button>
                    <br><br>
                </form>
                {% elif state == 2 %}
                <h5>Login successful!</h5>

                <form action='/selectgame' method="post" target=_self>
                    <input type="submit" name="start" value="Play Game!" style="font-size:150%"></input>
                </form>
                {% elif state == 3 %}
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="password" name="repeat_password" placeholder="Repeat Password">
                    <button type="submit" name="create">Create Account</button>
                    <button type="submit" name="back">Go Back</button>
                    <br><br>
                </form>
                {% elif state == 5 %}
                <h4>Password Mismatch!</h4>

                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="password" name="repeat_password" placeholder="Repeat Password">
                    <button type="submit" name="create">Create Account</button>
                    <br><br>
                </form>
                {% elif state == 6 %}
                <h5>Account Successfully Created!</h5>

                <form action="/login" method="post">
                    <button type="submit" name="gohome">Go home</button>
                </form>
                {% elif state == 8 %}
                <h5>Incorrect Password!</h5>

                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit" name="login">Login</button>
                    <br><br>
                    <h5 style="display: inline">New user</h5>&nbsp;&nbsp;&nbsp;
                    <button type="submit" name="register">Register</button>
                    <br><br>
                </form>
                {% elif state == 9 %}
                <h5>Already exist the username!</h5>

                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="password" name="repeat_password" placeholder="Repeat Password">
                    <button type="submit" name="create">Create Account</button>
                    <br><br>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Instructions</b></div>
            <div class="panel-body">
                <b><u>Game#1 - Pollice Verso</u></b><br><br>
                <b><i>Pollice Verso</i></b> is a betting game that you <i>guess</i> other players' consensus on how much quality is acceptable.
                One game constitutes {{ max_round }} rounds. Initially, you are given a certain amount of balance, ${{ GAME1_INIT_BALANCE }},
                and the higher balance you have at the end of the game, the higher rewards you will achieve.

                As the game starts, you will see two outputs generated by an approximate computing application, <b><i>{{ KERNEL_NAME }}</b></i>: (1) original output (2) approximate output.
                You can now guess what other players have thought of the acceptability of the approximate output.
                The amount of betting money will reflects how much you are confident on your guess.
                <br><br>
                <center><img src="{{ url_for('static',filename='img/screenshots/'  ~ KERNEL_NAME ~ '/game1.png') }}" style="width:500px"><br><br></center>

                <b><u>Game#2 - WinABatt</u></b><br><br>
                <b><i>WinABatt</i></b> is another game that you <i>guess</i> how other players think on the output quality.
                You are given an image that initially has 50% quality degradation. You can slide the knob to improve the quality and it requires more cost.
                The reward increases in proportion to how close your choice of quality is to the point that others consensus changes from "good enough" to "unacceptable".
                Hence, your goal should be to find a quality as close as possible to the point that maximizes the reward and as low as possible that minimizes the cost.
                <br><br>
                <center><img src="{{ url_for('static',filename='img/screenshots/' ~ KERNEL_NAME ~ '/game2.png') }}" style="width:500px"><br><br></center>

                <b><u>Game#3 - QnA</u></b><br><br>
                <b><i>QnA</i></b> is a game, mostly similar to WinABatt, but it differs in that you will be given <i>one question</i> regarding the output.
                Other players will try to find a quality that is required to get the correct answer for the given question.
                Again your reward proportionally increases according to how close your choice of quality is to others'.
                For an incorrect answer, you will get a penalty, which in turn decrease your reward.
                <br><br>
                <center><img src="{{ url_for('static',filename='img/screenshots/' ~ KERNEL_NAME ~ '/game3.png') }}" style="width:500px"><br><br></center>
            </div>
        </div>
    </div>
</div>
</body>
</html>
