<!DOCTYPE HTML>
<html>
<head>
    <title>Consensus</title>
    <link rel="icon" href="https://research.cc.gatech.edu/act-lab/sites/edu.act-lab/files/ACT-logo-scaled_1.png" type="image/png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <img alt="Brand" style="height: 30px; width: 30px; display: inline; padding-right: 5px"
                     src="https://research.cc.gatech.edu/act-lab/sites/edu.act-lab/files/ACT-logo-scaled_1.png">Consensus
            </div>
        </div>
    </div>
    </div>
</nav>

<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Login & Register</b></div>
            <div class="panel-body">
                <h4>Consensus</h4>
                <h5> - Games for research in approximate computing</h5>
                <!--
                    class State(Enum):
                        default = 0
                        login = 1
                        login_success = 2
                        register = 3
                        create = 4
                        mismatch = 5
                        create_success = 6
                        gohome = 7
                        incorrect_password = 8
                        duplicate_id = 9
                -->
                {% if state == 0 %}
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">&nbsp;&nbsp;&nbsp;
                    <button type="submit" name="login">Login</button>
                    <br><br>
                    <h5 style="display: inline">New user</h5>&nbsp;&nbsp;&nbsp;
                    <button type="submit" name="register">Register</button>
                    <br><br>
                </form>
                {% elif state == 2 %}
                <h5>Login successful!</h5>

                <form action='/selectgame' method="post" target=_self>
                    <input type="submit" name="start" value="Play Game!"></input>
                </form>
                {% elif state == 3 %}
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="password" name="repeat_password" placeholder="Repeat Password">
                    <button type="submit" name="create">Create Account</button>
                    <button type="submit" name="back">Go Back</button>
                    <br><br>
                </form>
                {% elif state == 5 %}
                <h4>Password Mismatch!</h4>

                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="password" name="repeat_password" placeholder="Repeat Password">
                    <button type="submit" name="create">Create Account</button>
                    <br><br>
                </form>
                {% elif state == 6 %}
                <h5>Account Successfully Created!</h5>

                <form action="/login" method="post">
                    <button type="submit" name="gohome">Go home</button>
                </form>
                {% elif state == 8 %}
                <h5>Incorrect Password!</h5>

                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit" name="login">Login</button>
                    <br><br>
                    <h5 style="display: inline">New user</h5>&nbsp;&nbsp;&nbsp;
                    <button type="submit" name="register">Register</button>
                    <br><br>
                </form>
                {% elif state == 9 %}
                <h5>Already exist the username!</h5>

                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="password" name="repeat_password" placeholder="Repeat Password">
                    <button type="submit" name="create">Create Account</button>
                    <br><br>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Instructions</b></div>
            <div class="panel-body">
                <b><u>Game#1 - Pollice Verso</u></b><br><br>
                <b><i>Pollice Verso</i></b> is a betting game that you <i>guess</i> other players' consensus on how much quality is acceptable.
                One game constitutes {{ max_round }} rounds. Initially, you are given a certain amount of balance, ${{ GAME1_INIT_BALANCE }},
                and the higher balance you have at the end of the game, the higher rewards you will achieve.

                As the game starts, you will see two {{ KERNEL_NAME }} output images: (1) original output (2) approximate output.
                You can now guess what other players have thought of the acceptability of the approximate output.
                The amount of betting money will reflects how much you are confident on your guess.
                <br><br>
                <center><img src="{{ url_for('static',filename='img/screenshots/game1.png') }}" style="width:500px"><br><br></center>

                <b><u>Game#2 - WinABatt</u></b><br><br>
                <b><i>WinABatt</i></b> is another game that you <i>guess</i> how other players think on the quality of an image.
                You are given an image that initially has 50% quality degradation. You can slide the knob to improve the quality and it requires more cost.
                The reward increases in proportion to how close your choice of quality is to the point that others consensus changes from "good enough" to "unacceptable".
                Hence, your goal should be to find a quality as close as possible to the point that maximizes the reward and as low as possible that minimizes the cost.
                <br><br>
                <center><img src="{{ url_for('static',filename='img/screenshots/game2.png') }}" style="width:500px"><br><br></center>

                <b><u>Game#3 - QnA</u></b><br><br>
                <b><i>QnA</i></b> is a game, mostly similar to WinABatt, but it differs in that you will be given <i>one question</i> regarding the image.
                Other players will try to find a quality that is required to get the correct answer for the given question.
                Again your reward proportionally increases according to how close your choice of quality is to others'.
                For an incorrect answer, you will get a penalty, which in turn decrease your reward.
                <br><br>
                <center><img src="{{ url_for('static',filename='img/screenshots/game3.png') }}" style="width:500px"><br><br></center>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Consent</b></div>
            <div class="panel-body">
                <center><h4>CONSENT DOCUMENT FOR ENROLLING ADULT PARTICIPANTS IN A RESEARCH STUDY</h4></center>
                <center>Georgia Institute of Technology</center>
                <center>Project Title: Playing a Game to Measure Acceptable Quality Loss from Approximate Computing</center>
                <br>
                Investigators: <i>Hadi Esmaeilzadeh, Jongse Park</i><br>
                Protocol and Consent Title: <i>Main23/03/15v1</i><br><br>
                <b>You are being asked to be a volunteer in a research study.</b><br><br>

                <b><u>Purpose:</u></b><br>
                The purpose of this study is to evaluate how much quality degradation due to an approximate computing kernel (Edge Detection: Sobel filter) is acceptable by
                application users. We expect to enroll up to 100 people in this study.<br><br>

                <b><u>Exclusion/Inclusion Criteria:</u></b><br>
                This game is very intuitive and does not require any expertise in any academic domains. However, since the subjects should be able to understand the instructions
                and play the game, people who cannot read and understand English are not eligible for this study. A person who is under 18 is not eligible.<br><br>

                <b><u>Procedures:</u></b><br>
                The game has been implemented as a web game so every subject can just access using easily downloadable web browsers such as Google Chrome, Firefox, and MS Internet
                explorer.
                <br><br>
                The instructions for the games are given in this page on the left bottom side. Please read the instructions carefully and play the game.
                <br><br>
                You will play all the three games once respectively. Each game will take less than 5~10 minutes so in total, the study will be finished within at most 30 minutes.
                However, you can play the three games as many times as you want.

                <b><u>Risks or Discomforts:</u></b><br>
                The risks involved are no greater than those involved in daily activities such as playing other web games.<br><br>

                <b><u>Benefits:</u></b><br>
                You are not likely to benefit in any way from joining this study. We hope that what we learn will someday help improve the research in approximate
                computing.<br><br>

                <b><u>Compensation to You: </u></b><br>
                None.<br><br>

                <b><u>Confidentiality:</u></b><br>
                The following procedures will be followed to keep your personal information confidential in this study: The data collected about you will be kept private to the
                extent allowed by law. To protect your privacy, your records will be kept under a code number rather than by name. Your records will be kept in locked files and
                only study staff will be allowed to look at them. Your name and any other fact that might point to you will not appear when results of this study are presented or
                published. Your privacy will be protected to the extent allowed by law. To make sure that this research is being carried out in the proper way, the Georgia
                Institute of Technology IRB may review study records. The Office of Human Research Protections may also look over study records during required reviews.<br><br>


                <b><u>Costs to You: </u></b><br>
                There are no costs to you, other than your time, for being in this study.<br><br>


                <b><u>In Case of Injury/Harm:</u></b><br>
                If you are injured as a result of being in this study, please contact the Principal Investigator (Hadi Esmaeilzadeh), at telephone (206) 658-3952. Neither the
                Principal Investigator nor Georgia Institute of Technology has made provision for payment of costs associated with any injury resulting from participation in this
                study.<br><br>

                <b><u>Participant Rights:</u></b><br>
                <ul>
                    <li>Your participation in this study is voluntary. You do not have to be in this study if you don't want to be.</li>
                    <li>You have the right to change your mind and leave the study at any time without giving any reason and without penalty.</li>
                    <li>Any new information that may make you change your mind about being in this study will be given to you.</li>
                    <li>You can save a copy of this consent form as a pdf file and keep it for future reference.</li>
                    <li>You do not waive any of your legal rights by agreeing this consent form and volunteering this study.</li>
                </ul>

                <b><u>Questions about the Study:</u></b><br>
                <ul>
                    <li>If you have any questions about the study, you may contact Hadi Esmaeilzadeh at telephone (206) 658-3952 or hadi@ cc.gatech.edu.</li>
                </ul>

                <b><u>Questions about Your Rights as a Research Participant:</u></b><br>

                If you have any questions about your rights as a research participant, you may contact <br><br>

                <center>Ms. Melanie Clark, Georgia Institute of Technology</center>
                <center>Office of Research Integrity Assurance, at (404) 894-6942.</center>
                <br>

                If you complete the study, it means that you have read -- or have had read to you -- the information contained in this letter and would like to be a volunteer in
                this research study. Thank you.

            </div>
        </div>
    </div>
</div>
</body>
</html>
