<!DOCTYPE html>
<html>
<head>
    <title>{{ GAME_NAME }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- bootstrap slider css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap-slider.css') }}">
    <!-- bootstrap slider -->
    <script src="{{ url_for('static',filename='js/bootstrap-slider.js') }}"></script>
    <style>
        .iframe1{
            font-size: 30px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                {{ GAME_NAME }} - QnA
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form action='/selectgame' method="post" target=_self class="navbar-form navbar-left">
                <input type="submit" name="start" value="Select Game" class="btn btn-default"
                       data-toggle="tooltip" data-placement="bottom" style=" font-size:100%"></input>
            </form>
            <form action='/logout' class="navbar-form navbar-left">
                <input id="logoutbutton" type="submit" name="logout" value="Logout" class="btn btn-default"
                       data-toggle="tooltip" data-placement="bottom" style=" font-size:100%"></input>
            </form>
        </div>
    </div>
</nav>

<div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="three-images">
            <div class="container">
                <center>
                    <div class="col-md-12">
                        <!-- <span style="padding: 0px; padding-right: 360px; padding-bottom: 100px; float: right; width: 100px; text-align: center; margin-left: 10px; font-size:15px; height: 20px;"><img
                                id="battery" src="{{ url_for('static',filename='img/batteries/3.png') }}" class="thumb"
                                style="width:50px"></span> -->
                        <center><h1 class="text-center" style="font-size:200%; padding-right:360px">Round {{ stage }}</h1></center>
                        <!--<center><h1 class="text-center" style="font-size:200%; padding-right:360px">Round 3</h1></center>-->
                    </div>
                    <div style="width:1200px">
                        <div id="imgtxt" style="">
                            <!--<textarea id="textarea" rows="4" cols="50" style="width:500px;height:250px"> Test </textarea>-->
                            <iframe id="textarea" style="width:500px; height:250px;" src=""> </iframe>
                        </div>
                        <br>
                        <b>Black</b>: Original text from books<br>
                        <font color="00AA00"><b>Green</b></font>: Text recognized from speech <i><b>without</b></i> quality loss <br>
                        <font color="AA0000"><b>Red</b></font>: Text recognized from speech <i><b>with</b></i> quality loss<br><br><br>
                        <div style="width:700px">
                            <div style="display:inline;width:60px;height:60px;"><span id="remaining" class="label label-success"
                                      style="width:150px;font-size:150%">Current Balance: ${{ '%.2f' % power }}</span>
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div>
                            <h3>{{ question }}</h3>
                        </div>
                        <form action='/qna' method="post" target="_self">
                            <center>
                            <div class="radio">
                                {% for answer in answers %}
                                    <label style="font-size:150%"><input type="radio" name="answer_radiobutton"
                                                                         value="{{ answer }}">{{ answer }}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {% endfor %}
                            </div><br>
                            </center>
                            <h3 style="display: inline"><i>Spend money to get a better text</i></h3>&nbsp;&nbsp;&nbsp;
                            <h4 style="display: inline">[Money spent is gone!]</h4>
                            <br><br>
                            <div style="width:700px">
                                <div style="display:inline;width:60px;height:60px;"><span id="investing" class="label label-danger"
                                                                          style="width:150px;font-size:150%">Current Cost: $0</span>
                                </div>
                            </div>
                            <br>
                            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="50"
                                   data-slider-max="100" data-slider-step="1" data-slider-value="{{ 100 - init_slider_value|int }}"
                                   style="width:500px"/>
                            <br><br>
                            <center><input id="betbutton" type="submit" name="bet" value="Spend" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" style=" font-size:150%"></input></center>
                        </form>

                        <script>
									var errors = [1,  2,  3,  4,  5,  6,  7,  8,  9,  10,
									              11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
									              21, 22, 23, 24, 25, 26, 27, 28, 29, 30,
									              31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
									              41, 42, 43, 44, 45, 46, 47, 48, 49, 50]



									var slider = new Slider('#ex1', {
										formatter: function(value) {
											var error = 100 - value;
											var dirpath = "{{ url_for('static',filename='img/') }}";
											if (error == 0) {
												document.getElementById("textarea").src = "{{ gamedata_home_url + '/sobelimage/' + imagename + '-' + kernel_name + '.html' }}"
											} else {
												var i;
												var filename;

												for (i=0; i<errors.length - 1; i++) {
													if (error >= errors[i] && error < errors[i+1]) {
														filename = "{{ imagename + '_0.'}}".concat(FormatNumberLength(errors[i], 2)).concat(".html");
														document.getElementById("textarea").src = "{{ gamedata_home_url + '/degimage/' }}".concat(filename)
													}
												}
												if (error >= errors[errors.length - 1]) {
													filename = "{{ imagename + '_0.'}}".concat(FormatNumberLength(errors[errors.length - 1], 2)).concat(".html");
													document.getElementById("textarea").src = "{{ gamedata_home_url + '/degimage/' }}".concat(filename)
												}
											}
											var total_power = {{ power }}
											var power_consumption = calPowerConsumption(error)
											total_power = total_power - power_consumption

											document.getElementById("betbutton").name = "bet_".concat(String(power_consumption)).concat("_").concat(String(error));
											document.getElementById("remaining").innerHTML = "Current Balance: $".concat(String(total_power));
											document.getElementById("investing").innerHTML = "Current Cost: $".concat(String(power_consumption));

                                            return 'Current quality: ' + (100 - error) + '%';
										}
									});


                                    var oldVal = parseInt({{ 100 - init_slider_value|int }});
                                    $('#ex1').on('slideStop', function (ev) {
                                        var newVal = $('#ex1').val();
                                        newValNum = parseInt(newVal);
                                        if (oldVal > newValNum) {
                                            slider.setValue(oldVal);
                                        } else {
                                            oldVal = newValNum;
                                        }
                                    });

									function calPowerConsumption(error) {
										return parseInt(((50 - error) / 50) * 25 + 5);
									}

									function FormatNumberLength(num, length) {
                                        var r = "" + num;
                                        while (r.length < length) {
                                            r = "0" + r;
                                        }
                                        return r;
                                    }


                        </script>
                        <style>
                            #ex1Slider .slider-selection {
                            background: #BABABA;
                            }
                        </style>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
</body>
</html>
