<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ GAME_NAME }}</title>
	</head>
	<body>
		<h3>{{ GAME_NAME }} Results</h3>
		<h4>Game2: WinABatt</h4>
		<a href="{{ url_for('static', filename='temp/' + stat_filename) }}" target="_blank">{{ stat_filename }}</a>
		<br>
		<a href="{{ url_for('static', filename='temp/' + simple_filename) }}" target="_blank">{{ simple_filename }}</a>

		<br><br>
		<table border="2">
			<tr>
				<th>Quality degradation level</th>
				<th>Number of Good-enough</th>
				<th>Number of Played</th>
			</tr>
			{% for key in keys %}
				<tr>
					{% if APPLICATION_TYPE != "AE" %}
						<td>{{ key }}%</td>
						<td>{{ game2NumAgreed[key-1] }}</td>
						<td>{{ game2NumPlayed[key-1] }}</td>
					{% else %}
						<td>{{ key / 100.0 }}db</td>
						<td>{{ game2NumAgreed[((3000 - key) / 50 - 1) | int] }}</td>
						<td>{{ game2NumPlayed[((3000 - key) / 50 - 1) | int] }}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</body>
</html>