<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ GAME_NAME }}</title>
	</head>
	<body>
		<h3>{{ GAME_NAME }} Results</h3>
		<h4>Game1: Pollice Verso</h4>
		<a href="{{ url_for('static', filename='temp/' + stat_filename) }}" target="_blank">{{ stat_filename }}</a>
		<br>
		<a href="{{ url_for('static', filename='temp/' + simple_filename) }}" target="_blank">{{ simple_filename }}</a>
		<br><br>
		<table border="2">
			<tr>
				<th>Quality degradation level</th>
				<th>Number of Good-enough</th>
				<th>Number of Played</th>
			</tr>
			{% for key in keys %}
				<tr>
					<td>{{ (key|float * 100.0)|int }}%</td>
					<td>{{ game1NumAgreed[key] }}</td>
					<td>{{ game1NumPlayed[key] }}</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>